.wrapper {
  position: relative;
}

.hint {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 230px;
  width: max-content;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--hint-gray);
  z-index: 10;

  &_left {
    left: unset;
    right: 20px;
  }
}

.cursor {
  cursor: pointer;
}