.inner {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ffffff;
  border: 1px solid rgba(140, 145, 181, 0.5);
  border-radius: 8px;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  & > * {
    color: var(--black);
  }

  &:hover {
    border: 1px solid var(--gray);
    transition: 0.2s;
  }

  &_active {
    border: 1px solid var(--blue);
    transition: 0.2s;
  }

  &_empty > * {
    color: var(--gray);
  }
}

.wrapper {
  width: 100%;
  height: max-content;
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.dropdown {
  position: absolute;
  left: 0;
  top: calc(60px + 8px);
  width: 100%;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #8c91b5;
  box-shadow: 0px 5px 20px rgba(140, 145, 181, 0.15);
  border-radius: 8px;
  overflow: auto;
  z-index: 1;
  max-height: 400px;
}

.chevron {
  transition: 0.2s;

  &_inverted {
    transform: rotateZ(180deg);
    transition: 0.2s;
  }
}

.option {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: 0.2s;
  cursor: pointer;

  &__checkbox {
    width: 30px;
    height: 30px;
  }

  &__text {
    height: max-content;
  }

  & > * {
    color: var(--black);
  }

  &:hover {
    background: #f1f5f9;
    transition: 0.2s;
  }
}
