.wrapper {
  margin-top: 60px;
  position: relative;
  background: var(--white);
  border: 1px solid #EFF1F8;
  box-shadow: 0px 5px 80px rgba(140, 145, 181, 0.15);
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 70px;
  max-height: 195px;
  transition: .2s;

  & .filtrationAddon {
    pointer-events: none;
    overflow: hidden;
    height: 0;
  }

  &_opened {
    max-height: 2000px;
    opacity: 1;
    transition: .2s;

    & .filtrationAddon {
      pointer-events: all;
      height: max-content;
    }
  }
}

.inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.mainFiltration {
  width: 100%;
  display: flex;
  gap: 20px;

  & .filter {
    width: calc(50% - 10px);
  }
}

.actionsFiltration {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter {
  width: calc(33% - 10px);
  align-self: flex-end;

  &_main {
    width: 50%;
  }
}

.clear {
  min-width: max-content;
  color: var(--blue);
  cursor: pointer;
}

.action {
  width: 200px;
}

.chevron {
  transform: rotateZ(-90deg);
  fill: var(--blue);
  transition: .2s;

  &_rotated {
    transform: rotateZ(0deg);
    transition: .2s;

    &Reverse {
      transform: rotateZ(180deg);
    transition: .2s;
    }
  }
}

.openedBlock {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openedBlock__control {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  
  & * {
    color: var(--blue);
  }

  & .chevron {
    margin-top: 5px;
  }
}

.filtrationAddon {
  height: max-content;
  margin-top: 40px;
  border-top: 1px solid var(--light-gray);
  padding-top: 40px;
  display: flex;
  gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
  opacity: 0;
  transition: .2s;

  &_opened {
    opacity: 1;
    transition: .2s;
  }
}

@media only screen and (max-width: 1300px) {
  .filter {
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 1000px) {
  .filter {
    width: calc(50% - 10px);
  }

  .inner {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
  } 

  .actionsFiltration {
    padding-top: 0px;
  }

  .wrapper {
    max-height: 270px;
  
    &_opened {
      max-height: 2000px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .filter {
    width: 100%;

    &_main {
      width: 100%;
    }
  }

  .mainFiltration {
    flex-wrap: wrap;

    & .filter {
      width: 100%;
    }
  }

  .inner {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
  } 

  .actionsFiltration {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    row-gap: 6px;
  }

  .wrapper {
    max-height: 420px;
  
    &_opened {
      max-height: 3300px;
    }
  }
}