.wrapper {
  width: 100%;
  padding-bottom: 60px;
}

.meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;

  &__tags {
    flex-shrink: 0;
    width: 200px;
  }
}

.nextTag {
  margin-top: 40px;
}

.gallery {
  margin-top: 60px;
  max-width: 568px;
}

@media only screen and (max-width: 1000px) {
  .meta {
    flex-wrap: wrap;
    gap: 24px;
  
    &__tags {
      flex-shrink: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    padding-bottom: 24px;
  }

  .gallery {
    margin-top: 24px;
    max-width: 320px;
  }
}