.styled {
  font-family: 'Commissioner Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.medium {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
}